<div id="menu" class="menu">
    <h1 class="title_header">Expert Finder</h1>
    <section id="home"><a href="/">Home</a></section>
    <section id="experts"><a href="/experts">Experts</a></section>
    <section id="search"><a href="/search">Search</a></section>
    <section id="add"><a href="/add-expert">Add Expert</a></section>
</div>

SEARCH

<label class="header_label" for="category">Category</label>
<select class="header_select" name="category" id="search_category" onchange="showSkills('search')">
    {{#each category}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<label class="header_label" for="skills">Skills</label>
<select class="header_select" name="skills" id="search_skills">
    {{#each skill}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<label hidden class="header_label" for="industry">Industry</label>
<select hidden class="header_select" name="industry" id="search_industry">
    {{#each industry}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<label hidden class="header_label" for="course">Course</label>
<select hidden class="header_select" name="course" id="search_course">
    {{#each course}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<label class="header_label" for="experience">Experience</label>
        <select class="header_select" name="experience" id="search_experience">
            <option value='1'>1+ Years</option>
            <option value='2'>2+ Years</option>
            <option value='3'>3+ Years</option>
            <option value='4'>4+ years</option>
            <option value='5'>5+ years</option>
            <option value='6'>6+ years</option>
            <option value='7'>7+ years</option>
            <option value='8'>8+ years</option>
            <option value='9'>9+ years</option>
            <option value='10'>10+ years</option>
        </select>

<button id="header_search_button" type="button" onclick="searchSkills('search');" class="table-details tooltip">
    <span class="tooltip-text">Search</span>
</button>
<br />
<hr />



