<h1>Add an Expert</h1>
<div>
    <form id="add-expert" action="/experts" method="post">
        <fieldset>
            <label for="fname">First Name:</label>
            <input type="text" name="fname">
            <label for="fname">Last Name:</label>
            <input type="text" name="lname"><br>
            <label for="fname">About:</label>
            <input type="text" name="about"><br>
            <label for="fname">Email:</label>
            <input type="text" name="email"><br>
            <label for="git">Github link:</label>
            <input type="text" name="git"><br>
            <label for="linkedin">LinkedIn:</label>
            <input type="text" name="linkedin"><br>
            <label for="twitter">Twitter:</label>
            <input type="text" name="twitter"><br>
            <p>Add a skill:</p>
            <label for="category">Categories</label><br />
            <select id="add_category" name="category" onchange="showSkills('add')">
                {{#each category}}
                <option value='{{id}}'>{{name}}</option>
                {{/each}}
            </select><br />
            <label>Skills:</label><br />
            <select id="add_skills" name="skill">
                {{#each skill}}
                <option value='{{id}}'>{{name}}</option>
                {{/each}}
            </select>
            <select hidden id="add_industry" name="industry">
                {{#each industry}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <select hidden id="add_course" name="course">
                {{#each course}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <br />
            <label>Experience (years)</label><br />
            <input type="number" id="experience">

            <input type="button" value="Add Skill" onclick="addSkill()"><br /><br />
            <table hidden name="skills" id="skills_table" class="results-table">
                <thead>
                    <tr>
                        <th hidden>CategoryID</th>
                        <th hidden>SkillID</th>
                        <th>Skill</th>
                        <th>Experience</th>
                    </tr>
                <tbody>
                </tbody>
                </thead>
                <tbody id="body_skills">
                </tbody>
            </table>
        </fieldset>
    </form>
    <button class="submit" type="button" onclick="addExpert()">Add Expert</button>

</div>

