<h1>The Edit Page</h1>
<form name="add-expert" action="/add-expert" method="post">
    <fieldset>
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="fname">Last Name:</label>
        <input type="text" name="lname">
        <label for="fname">Email:</label>
        <input type="text" name="email">
        <label for="fname">About:</label>
        <input type="text" name="about">
        <label for="git">Github link:</label>
        <input type="text" name="git">
        <label for="linkedin">LinkedIn:</label>
        <input type="text" name="linkedin">
        <label for="twitter">Twitter:</label>
        <input type="text" name="twitter">
        <input type="submit" value="Add User">
        <label for="category">Categories</label>
        <select name="category">
            {{#each category}}
            <option value="{{ID}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="skill">
            {{#each skill}}
            <option value="{{ID}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="industry">
            {{#each industry}}
            <option value="{{ID}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="course">
            {{#each course}}
            <option value="{{ID}}">{{name}}</option>
            {{/each}}
        </select>
    </fieldset>
</form>