<link href="/public/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="frame">
  <main class="main">
      <nav>
          <div hidden id="ID">{{selected_expert.ExpertID}}</div>
          <div class="name">
              <h1>{{selected_expert.FirstName}} {{selected_expert.LastName}}</h1>
          </div>
          <div class="profile_pic">
              <p1>{Profile Picture}</p1>
              <br>
              <br>
              <p1>About: {{selected_expert.About}}</p1>
              <br>
              <br>
          </div>
          <div class="profile_info">
              <p1>Email: {{selected_expert.ProfileEmail}}</p1>
              <br>
              <br>
              <a href="http://www.twitter.com/{{selected_expert.TwitterLink}}" class="fa fa-twitter"></a>
              &nbsp
              <a href="http://www.linkedin.com/in/{{selected_expert.LinkedInLink}}" class="fa fa-linkedin"></a>
              &nbsp
              <a href="http://www.github.com/{{selected_expert.GithubLink}}" class="fa fa-github"></a>
              &nbsp
              <a class="btn btn-primary btn-sm" href="/experts/update/{{selected_expert.ExpertID}}" role="button">Update</a>
          </div>
      </nav>
      <body>
          <div class="table_container">
              <div>
                  <br>
                  <table class='skills'>
                      <caption class="results-table-header-label">Technical Skills</caption>
    
                      {{#each profile_skill}}
                      <tr>
                          <td>{{name}}</td>
                          <td>{{Experience}} years</td>
                          <td><a class="btn btn-primary btn-sm" href="/experts/update/{{ExpertID}}" role="button">Update</a></td>
                      </tr>
                      {{/each}}
                  </table>
              </div>
              {{#if profile_industry.length}}
              <div >
                  <br>
                  <table class='skills'>
                      <caption class="results-table-header-label">Industries</caption>
                      {{#each profile_industry}}
                      <tr>
                          <td>{{name}}</td>
                          <td>{{Experience}} years</td>
                          <td><a class="btn btn-primary btn-sm" href="/experts/update/{{ExpertID}}" role="button">Update</a></td>

                      </tr>
                      {{/each}}
                  </table>
              </div>
              {{/if}}
              {{#if profile_course.length}}
              <div>
                  <br>
                  <table class='skills'>
                      <caption class="results-table-header-label">Courses</caption>
                      {{#each profile_course}}
                      <tr>
                          <td>{{name}}</td>
                          <td></td>
                          <td><a class="btn btn-primary btn-sm" href="/experts/update/{{ExpertID}}" role="button">Update</a></td>

                      </tr>
                      {{/each}}
                  </table>
              </div>
              {{/if}}
          </div>
      </body>
</main>