<main>
    <h1>Search for an Expert</h1>

    <h2>Type of search:</h2>

    <div id="search_div">
        <label for="category">CATEGORY</label>
        <select name="category" id="main_category" onchange="showSkills('main')">
            {{#each category}}
            <option value='{{id}}'>{{name}}</option>
            {{/each}}
        </select><br>

        <label for="skills">SKILLS</label>
        <select name="skills" id="main_skills">
            {{#each skill}}
            <option value='{{id}}'>{{name}}</option>
            {{/each}}
        </select>

        <label hidden for="industry">INDUSTRY</label>
        <select hidden name="industry" id="main_industry">
            {{#each industry}}
            <option value='{{id}}'>{{name}}</option>
            {{/each}}
        </select>

        <label hidden for="course">COURSE</label>
        <select hidden name="course" id="main_course">
            {{#each course}}
            <option value='{{id}}'>{{name}}</option>
            {{/each}}
        </select><br>

        <label for="experience">EXPERIENCE</label>
        <select name="experience" id="experience">
            {{#each experience}}
            <option value='{{id}}'>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <br>



    <button type="button" onclick="searchSkills('main');" class="table-details tooltip">
        <span class="tooltip-text">Search</span>
    </button>

</main>