<h1>Search for an Expert</h1>

<label for="category">Type of search:</label>
<select name="category" id="search_category" onchange="showSkills('search')">
    {{#each category}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<select name="skills" id="search_skills">
    {{#each skill}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<select hidden name="industry" id="search_industry">
    {{#each industry}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>

<select hidden name="course" id="search_course">
    {{#each course}}
    <option value='{{id}}'>{{name}}</option>
    {{/each}}
</select>


<button type="button" onclick="searchSkills('search');" class="table-details tooltip">
    <span class="tooltip-text">Search</span>
</button>
