<link href="/public/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="frame">
  <main class="main">
          <nav>
          <div hidden id="ID">{{selected_expert.ExpertID}}</div>
          <div class="name">
              <h1>{{selected_expert.FirstName}} {{selected_expert.LastName}}</h1>
          </div>
          <div class="profile_pic">
              <p1><img src="{{selected_expert.ProfilePicture}}" style="height:auto;width:auto;max-width:300px;max-height:300px;"></p1>
              <br>
              <br>
              <p1>About: {{selected_expert.About}}</p1>
              <br>
              <br>
          </div>
          <div class="profile_info">
              <p1>Email: {{selected_expert.ProfileEmail}}</p1>
              <br>
              <br>
              <a href="http://www.twitter.com/{{selected_expert.TwitterLink}}" class="fa fa-twitter"></a>
              &nbsp
              <a href="http://www.linkedin.com/in/{{selected_expert.LinkedInLink}}" class="fa fa-linkedin"></a>
              &nbsp
              <a href="http://www.github.com/{{selected_expert.GithubLink}}" class="fa fa-github"></a>
              &nbsp
              <a class="btn btn-primary btn-sm" href="/experts/update/{{selected_expert.ExpertID}}" role="button">Update</a>
          </div>
      </nav>
      <body>

  		<h1>Update Expert Info </h1>
  		<form class='form' id="update-expert" action="/experts/view" method="post" >
		    	<label>First Name</label>
		      	<input type="text" class="form-control" value="{{selected_expert.FirstName}}" name="FirstName" style="width: 500px; height: 25px;">
              <br>

               	<label>First Name</label>
		      	<input type="text" class="form-control" value="{{selected_expert.LastName}}" name="LastName" style="width: 500px; height: 25px;">
              <br>

		      	<label>About</label>
		      	<input type="text" class="form-control" value= "{{selected_expert.About}}" name="About" style="width: 1000px; height: 20px;">
              <br>

		      	<label>Email</label>
		      	<input type="text" class="form-control" value="{{selected_expert.ProfileEmail}}" name="ProfileEmail" style="width: 500px; height: 20px;">
              <br>

		      	<label>Github Handle:</label>
		      	<input type="text" class="form-control" value="{{selected_expert.GithubLink}}" name="GithubLink" style="width: 500px; height: 20px;">
              <br>

              	<label>LinkedIN Handle:</label>
		      	<input type="text" class="form-control" value="{{selected_expert.LinkedInLink}}" name="LinkedInLink" style="width: 500px; height: 20px;">
              <br>

              	<label>Twitter Handle:</label>
		      	<input type="text" class="form-control" value="{{selected_expert.TwitterLink}}" name="TwitterLink" style="width: 500px; height: 20px;">
              <br>

                <label>Profile Picture Link:</label>
                <input type="text" class="form-control" value="{{selected_expert.ProfilePicture}}" name="ProfilePicture" style="width:500px;height:20px;">
                <br>




		    
	</form>

	<button class="btn btn-secondary" onclick="updateExpert({{selected_expert.ExpertID}})">Update</button>

	<!-- update script reference -->
<script src="/updateExpert.js"></script>



      </body>
</main>